 <!-- Mission & Vision Area -->
            <div class="tm-section mission-vision-area bg-white tm-padding-section section-wrapper-{{section.id}}">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8 col-md-10 col-12">
                            <div class="tm-section-title text-center">
                                <h2>{{ section.settings.section-heading }}</h2>
                                <p> {{ section.settings.section-description }} </p>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters justify-content-center">
                        <div class="col-xl-10 col-12">
                            <div class="tm-missvis">
                                <ul class="nav tm-missvis-tabs" id="bstab1" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="bstab1-area1-tab" data-toggle="tab" href="#bstab1-area1"
                                            role="tab" aria-controls="bstab1-area1" aria-selected="true">
                                            <span class="tab-icon">
                                                <img src="" alt="">
                                            </span>
                                            <h5>Our Mission</h5>
                                        </a>
                                    </li>
                                  
                                </ul>

                                <div class="tab-content tm-missvis-tabcontent" id="bstab1-ontent">
                                    <div class="tab-pane show active" id="bstab1-area1" role="tabpanel" aria-labelledby="bstab1-area1-tab">
                                        <div class="tm-missvis-sectionwrap">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="tm-missvis-image">
                                                        <svg viewBox="0 0 431 335">
                                                            <defs>
                                                                <pattern id="attachedImage2" height="100%" width="100%"
                                                                    patternContentUnits="objectBoundingBox">
                                                                    <image xlink:href="assets/images/others/mission-image-1.jpg"
                                                                        preserveAspectRatio="none" width="1" height="1" />
                                                                </pattern>
                                                            </defs>
                                                            <path fill="url(#attachedImage2)" d="M430.996,174.472 C423.887,83.089 371.892,54.804 300.831,53.617 C298.012,53.570 292.437,53.719 292.437,53.719 C292.437,53.719 239.106,56.279 209.125,28.113 C186.919,10.651 157.335,-0.005 124.848,-0.005 C55.894,-0.005 -0.006,47.991 -0.006,107.199 C-0.006,134.935 12.273,160.197 32.408,179.225 C43.887,190.073 50.185,204.686 50.075,219.886 C50.073,220.143 50.072,220.400 50.072,220.657 C50.072,273.592 89.861,317.864 142.330,326.363 C224.644,346.993 398.469,340.919 429.740,191.379 C430.646,185.967 431.104,180.348 430.996,174.472 Z"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="tm-missvis-content">
                                                        <h5>Our core and additional services</h5>
                                                        <p>Our Vision is to promote a healthy lifestyle. To be a global
                                                            health care leader by advancing the science and practice of
                                                            massage therapy. In supporting our members and serving our
                                                            stakeholders. In supporting our members and serving our
                                                            stakeholders.</p>
                                                        <ul class="stylish-list-color">
                                                            <li>Physiotherapy</li>
                                                            <li>Chiropractic Care</li>
                                                            <li>Naturopathy</li>
                                                            <li>Massage Therapy</li>
                                                            <li>Acupuncture</li>
                                                            <li>Chiropody</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="bstab1-area2" role="tabpanel" aria-labelledby="bstab1-area2-tab">
                                        <div class="tm-missvis-sectionwrap">
                                            <div class="row">
                                                <div class="col-lg-6 order-1 order-lg-2">
                                                    <div class="tm-missvis-image">
                                                        <svg viewBox="0 0 431 335">
                                                            <defs>
                                                                <pattern id="attachedImage3" height="100%" width="100%"
                                                                    patternContentUnits="objectBoundingBox">
                                                                    <image xlink:href="assets/images/heroslider/heroslider-image-1.jpg"
                                                                        preserveAspectRatio="none" width="1" height="1" />
                                                                </pattern>
                                                            </defs>
                                                            <path fill="url(#attachedImage3)" d="M430.996,174.472 C423.887,83.089 371.892,54.804 300.831,53.617 C298.012,53.570 292.437,53.719 292.437,53.719 C292.437,53.719 239.106,56.279 209.125,28.113 C186.919,10.651 157.335,-0.005 124.848,-0.005 C55.894,-0.005 -0.006,47.991 -0.006,107.199 C-0.006,134.935 12.273,160.197 32.408,179.225 C43.887,190.073 50.185,204.686 50.075,219.886 C50.073,220.143 50.072,220.400 50.072,220.657 C50.072,273.592 89.861,317.864 142.330,326.363 C224.644,346.993 398.469,340.919 429.740,191.379 C430.646,185.967 431.104,180.348 430.996,174.472 Z"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 order-2 order-lg-1">
                                                    <div class="tm-missvis-content">
                                                        <h5>Our core and additional services</h5>
                                                        <p>Our Vision is to promote a healthy lifestyle. To be a global
                                                            health care leader by advancing the science and practice of
                                                            massage therapy. In supporting our members and serving our
                                                            stakeholders. In supporting our members and serving our
                                                            stakeholders.</p>
                                                        <ul class="stylish-list-color">
                                                            <li>Physiotherapy</li>
                                                            <li>Chiropractic Care</li>
                                                            <li>Naturopathy</li>
                                                            <li>Massage Therapy</li>
                                                            <li>Acupuncture</li>
                                                            <li>Chiropody</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="bstab1-area3" role="tabpanel" aria-labelledby="bstab1-area3-tab">
                                        <div class="tm-missvis-sectionwrap">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="tm-missvis-image">
                                                        <svg viewBox="0 0 431 335">
                                                            <defs>
                                                                <pattern id="attachedImage4" height="100%" width="100%"
                                                                    patternContentUnits="objectBoundingBox">
                                                                    <image xlink:href="assets/images/heroslider/heroslider-image-1.jpg"
                                                                        preserveAspectRatio="none" width="1" height="1" />
                                                                </pattern>
                                                            </defs>
                                                            <path fill="url(#attachedImage4)" d="M430.996,174.472 C423.887,83.089 371.892,54.804 300.831,53.617 C298.012,53.570 292.437,53.719 292.437,53.719 C292.437,53.719 239.106,56.279 209.125,28.113 C186.919,10.651 157.335,-0.005 124.848,-0.005 C55.894,-0.005 -0.006,47.991 -0.006,107.199 C-0.006,134.935 12.273,160.197 32.408,179.225 C43.887,190.073 50.185,204.686 50.075,219.886 C50.073,220.143 50.072,220.400 50.072,220.657 C50.072,273.592 89.861,317.864 142.330,326.363 C224.644,346.993 398.469,340.919 429.740,191.379 C430.646,185.967 431.104,180.348 430.996,174.472 Z"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="tm-missvis-content">
                                                        <h5>Our core and additional services</h5>
                                                        <p>Our Vision is to promote a healthy lifestyle. To be a global
                                                            health care leader by advancing the science and practice of
                                                            massage therapy. In supporting our members and serving our
                                                            stakeholders. In supporting our members and serving our
                                                            stakeholders.</p>
                                                        <ul class="stylish-list-color">
                                                            <li>Physiotherapy</li>
                                                            <li>Chiropractic Care</li>
                                                            <li>Naturopathy</li>
                                                            <li>Massage Therapy</li>
                                                            <li>Acupuncture</li>
                                                            <li>Chiropody</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Mission & Vision Area -->

            {% schema %}
                {
                    "name": "Mission Section",
                    "settings": [
                        {
                            "type": "text",
                            "id": "section-heading",
                            "label": "Section Heading",
                            "default": "Heading Here"
                        }, {
                            "type": "text",
                            "id": "section-description",
                            "label": "Section Description",
                            "default": "Description Here"
                        }
                    ],
                    "blocks": [],
                    "presets": [
                        {
                            "name": "Mission Section"
                        }
                    ]
                }
            {% endschema %}