<!-- Header Area -->
<div class="header">
  <!-- Header Top Area -->
  <div class="header-toparea">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 col-sm-6 col-12">
          <div class="header-topinfo">
            <ul>
              <li>Email us :
                <a href="mailto:{{ section.settings.email-address }}">{{ section.settings.email-address }}</a>
              </li>
              <li>Call us :
                <a href="tel://+1-800-915-6270">1-800-915-6270</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-5 col-sm-6 col-12">
          <div class="header-topbutton">
            <a href="#" class="tm-button tm-button-white">Book an Appointment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--// Header Top Area -->

</div>
<!--// Header Area -->

{% schema %}
  {
    "name": "Announcement-Bar",
    "settings": [
      {
        "type": "text",
        "id": "email-address",
        "label": "Email",
        "default": "contact@example.com"
      }, {
        "type": "text",
        "id": "phone-number",
        "label": "Call",
        "default": "1-800-915-6270"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button link",
        "default": "#"
      }

    ],
    "presets": [
      {
        "name": "Announcement-Bar"
      }
    ]
  }
{% endschema %}