<!-- Appointment Information Area -->
<div class="tm-section appointment-information-area tm-padding-section bg-white section-wrapper-{{section.id}}">
  <span class="bg-shape-2"><img src="{{ section.settings.background-img | image_url }}" /></span>
  <div class="container">
    <div class="row mt-50-reverse">
      <div class="col-lg-6 mt-50">
        <div class="tm-information">
          <div class="tm-information-timing">
            <h5>Opening Hours</h5>
            <ul>
              <li>Monday - Friday
                <span>12:00 - 17:00</span>
              </li>
              <li>Saturday
                <span>15:00 - 18:00</span>
              </li>
              <li>Sunday
                <span>Closed</span>
              </li>
            </ul>
          </div>
          <div class="tm-information-contact">
            <h5>Contact Details</h5>
            <ul>
              <li>
                <b>Address
                </b>2726 Avenue Papineau Montreal, QC, Canada
              </li>
              <li>
                <b>Phone
                </b>1-800-915-6270</li>
              <li>
                <b>Email
                </b>info@example.com
                <br/>support@dialiarmttherapy.com
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-50">
        <div class="tm-appointment">
          <h2>Make an Appointment</h2>
          <form action="#" class="tm-form">
            <div class="tm-form-inner">
              <div class="tm-form-field tm-form-fieldhalf">
                <input
                  type="text"
                  required="required"
                  placeholder="Name*" />
              </div>
              <div class="tm-form-field tm-form-fieldhalf">
                <input
                  type="email"
                  required="required"
                  placeholder="Email*" />
              </div>
              <div class="tm-form-field tm-form-fieldhalf">
                <select name="select-services">
                  <option value="0">Select Service</option>
                  <option value="a">
                    Reducing or eliminating pain
                  </option>
                  <option value="b">Improving joint mobility</option>
                  <option value="c">Circulatory problems</option>
                  <option value="d">
                    Improving lymphatic drainage
                  </option>
                  <option value="e">Reducing muscular tension</option>
                  <option value="f">
                    Post-surgical rehabilitation
                  </option>
                </select>
              </div>
              <div class="tm-form-field tm-form-fieldhalf">
                <input
                  type="text"
                  required="required"
                  data-toggle="datepicker"
                  placeholder="Select Date" />
              </div>
              <div class="tm-form-field">
                <textarea
                  name="message"
                  cols="30"
                  rows="5"
                  placeholder="Message"></textarea>
              </div>
              <div class="tm-form-field">
                <button type="submit" class="tm-button">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--// Appointment Information Area -->

{% schema %}
  {
    "name": "Appointment Section",
    "settings": [

      {
        "type": "image_picker",
        "id": "background-img",
        "label": "Background Image"
      }
    ],
    "presets": [
      {
        "name": "Appointment Section"
      }
    ]
  }
{% endschema %}