<div class="header">
  <!-- Header Bottom Area -->
  <div class="header-bottomarea">
    <div class="container">
      <div class="header-bottominner">
        <div class="header-logo">
          <a href="index.html">
            <img class="lazyload"
              data-src="{{ section.settings.site-logo }}"
              data-sizes="auto"
              alt="{{ preview_image.alt | escape }}">
          </a>
        </div>
        <nav class="tm-navigation">
          <ul>
            <li class="tm-navigation-dropdown">
              <a href="index.html">Home</a>
              <ul>
                <li><a href="index.html">Home Default Version</a></li>
                <li><a href="index-standard-slider.html">Home Standard Slider</a></li>
                <li><a href="index-ripple-bg.html">Home Ripple Bg</a></li>
                <li><a href="index-video-bg.html">Home Video Bg</a></li>
              </ul>
            </li>
            <li>
              <a href="about-us.html">About</a>
            </li>
            <li>
              <a href="shop.html">Shop</a>
            </li>
            <li class="tm-navigation-dropdown">
              <a href="blog.html">Blog</a>
              <ul>
                <li>
                  <a href="blog.html">Blog Right Sidebar</a>
                </li>
                <li>
                  <a href="blog-left-sidebar.html">Blog Left Sidebar</a>
                </li>
                <li>
                  <a href="blog-2-column.html">Blog 2 Column</a>
                </li>
                <li>
                  <a href="blog-3-column.html">Blog 3 Column</a>
                </li>
                <li>
                  <a href="blog-details.html">Blog Details</a>
                  <ul>
                    <li><a href="blog-details.html">Right Sidebar</a></li>
                    <li><a href="blog-details-left-sidebar.html">Left Sidebar</a></li>
                    <li><a href="blog-details-audio.html">Audio Post</a></li>
                    <li><a href="blog-details-video.html">Video Post</a></li>
                    <li><a href="blog-details-gallery.html">Gallery Post</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="tm-navigation-megamenu">
              <a href="#">Pages</a>
              <ul>
                <li>
                  <a href="shop.html">Pagelist 1</a>
                  <ul>
                    <li><a href="index.html">Home Default Version</a></li>
                    <li><a href="index-standard-slider.html">Home Standard Slider</a></li>
                    <li><a href="index-ripple-bg.html">Home Ripple Bg</a></li>
                    <li><a href="index-video-bg.html">Home Video Bg</a></li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="service.html">Services</a></li>
                    <li><a href="service-details.html">Service Details</a></li>
                    <li><a href="service-details-left-sidebar.html">Service Details Left
Sidebar</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Pagelist 2</a>
                  <ul>
                    <li><a href="blog.html">Blog Right Sidebar</a></li>
                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                    <li><a href="blog-2-column.html">Blog 2 Column</a></li>
                    <li><a href="blog-3-column.html">Blog 3 Column</a></li>
                    <li><a href="blog-details.html">Blog Details Right Sidebar</a></li>
                    <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                    <li><a href="blog-details-audio.html">Blog Details Audio Post</a></li>
                    <li><a href="blog-details-video.html">Blog Details Video Post</a></li>
                    <li><a href="blog-details-gallery.html">Blog Details Gallery Post</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Pagelist 3</a>
                  <ul>
                    <li><a href="shop.html">Products Right Sidebar</a></li>
                    <li><a href="shop-left-sidebar.html">Products Left Sidebar</a></li>
                    <li><a href="shop-4-column.html">Products 4 Column</a></li>
                    <li><a href="shop-without-sidebar.html">Products Without Sidebar</a></li>
                    <li><a href="product-details.html">Products Details</a></li>
                    <li><a href="product-details-left-sidebar.html">Product Details Left
Sidebar</a></li>
                    <li><a href="product-details-variable.html">Product Details Variable</a></li>
                    <li><a href="product-details-nosidebar.html">Product Details
Without Sidebar</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Pagelist 4</a>
                  <ul>
                    <li><a href="cart.html">Shopping Cart</a></li>
                    <li><a href="wishlist.html">Wishlist</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="my-account.html">My account</a></li>
                    <li><a href="login-register.html">Login & Register</a></li>
                    <li><a href="faq.html">Frequently Ask Question</a></li>
                    <li><a href="team.html">Team Members</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </nav>
        <div class="header-icons">
          <ul>
            <li><a href="cart.html"><i class="zmdi zmdi-shopping-cart"></i></a></li>
            <li><a href="#" class="header-searchtrigger"><i class="zmdi zmdi-search"></i></a></li>
          </ul>
        </div>
        <div class="header-searchbox">
          <div class="header-searchinner">
            <form action="#" class="header-searchform">
              <input type="text" placeholder="Enter search keyword..">
            </form>
            <button class="search-close">
              <i class="zmdi zmdi-close"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="header-mobilemenu clearfix">
        <div class="tm-mobilenav"></div>
      </div>
    </div>
  </div>
  <!--// Header Bottom Area -->
</div>

{% schema %}
  {
    "name": "Header-Navbar",
    "settings": [
      {
        "type": "image_picker",
        "id": "site-logo",
        "label": "Site Logo"
      }

    ]
  }
{% endschema %}